$white: #fff;
$light-blue: #61c4d9;
$dark-green: #0b4d3c;
$black: #000;
$mint: #f8faf9;
$light-gray: #f2f5f4;
$hell: #666666;



@import './_misc/variables.scss';
@import './_misc/normalize.scss';
@import './_misc/layout.scss';
@import './blocks/page.scss';
@import './blocks/header.scss';
@import './blocks/first.scss';
@import './blocks/section.scss';
@import './blocks/nav.scss';
@import './blocks/btn.scss';
@import './blocks/title.scss';
@import './blocks/why.scss';
@import './blocks/team.scss';
@import './blocks/food-menu.scss';
@import './blocks/comment.scss';
@import './blocks/social.scss';
@import './blocks/footer.scss';
