.arrow--left {
    width: 13px;
    height: 28px;
    background: url('../img/slide/arrow-left.png') center center / contain no-repeat;
    display: block;
    position: absolute;
    left: rem(20px);
    bottom: 50%;
    transform: translateY(-50%);
}

.arrow--right {
    width: 13px;
    height: 28px;
    background: url('../img/slide/arrow-right.png') center center / contain no-repeat;
    display: block;
    position: absolute;
    right: rem(20px);
    bottom: 50%;
    transform: translateY(-50%);
}