.comment__open {
    background: url('../img/comment/bg-second.jpg') center center / cover no-repeat;
    margin-bottom: rem(27px);
}


.comment__title {
    font-size: rem(48px);
    font-family: "Alegreya Sans";
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.comment__desc {
    padding-left: rem(23px);
}

.comment__open {
    display: flex;
    padding: rem(24px);
}

.comment__subtitle {
    font-family: "Alegreya Sans";
    font-size: rem(30px);
    font-weight: 500;
    font-style: bold;
    margin-bottom: rem(25px);
}

.comment__text {
    font-family: "Alegreya Sans";
    font-size: rem(18px);
    font-weight: 400;
    margin-bottom: rem(25px);
}

.comment__list {
    display: flex;
    justify-content: center;
       
}

.comment__item {
    width: rem(68px);
    height: rem(68px);
    margin-right: rem(11px);

    &:last-child {
        margin-right: 0;
    }
}
/*
.comment__item--active {
    border: rem(6px) solid $dark-green;
    border-radius: rem(50px);

}*/

.comment__avatar--active {
    border: rem(6px) solid $dark-green;
    border-radius: rem(50px);
}