.comment__open {
    background: url('../img/comment/bg-second.jpg') center center / cover no-repeat;

}


.comment__title {
    font-size: 48px;
    font-family: "Alegreya Sans";
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.comment__desc {
    padding-left: 23px;
}

.comment__open {
    display: flex;
    padding: 24px;
}

.comment__subtitle {
    font-family: "Alegreya Sans";
    font-size: 30px;
    font-weight: 500;
    font-style: bold;
    margin-bottom: 25px;
}

.comment__text {
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.comment__list {
    display: flex;
    justify-content: center;
       
}

.comment__item {
    width: 68px;
    height: 68px;
    margin-right: 11px;

    &:last-child {
        margin-right: 0;
    }
}

.comment__item--active {
    border: 6px solid $dark-green;
    border-radius: 50px;

}