.food {
    background: url('../img/food/cooockies.jpg') center center / cover no-repeat;
    display: flex;
    flex-direction: row;

    &__title {
    color: $white;
    font-family: "Alegreya Sans";
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    }

    &__subtitle {
        background: url('../img/food/kokos.png');
        color: $white;
        font-family: "Alegreya Sans";
        font-size: rem(48px);
        font-weight: 500;
        font-style: bold;
        //transform: rotate(-90deg),;
    }

    &__text {
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(23.97px);
        background-color: $smoke;
        opacity: 0.93;
    }

}