.footer__all {
    width: 100%;
    background: $white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.footer__left {
    width: 50%;
}

.footer__right {
    width: 50%;
    display: right;
}


.addres {
    color: #010101;
    font-family: "Alegreya Sans";
    font-size: 21px;
    font-weight: 400;
    font-style: bold;
    line-height: 23.82px;
}

.contacts__phone-foot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 21px;
    font-weight: 400;
    font-style: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark-green;

    &:before{
        content: "";
        display: block;
        background: url('../img/icons/phone_green.png') center center/cover no-repeat;
        height: 13px;
        width: 13px;
        margin-right: 15px;
    }
}