.form__elem {
    display: flex;
}

.form__column {
    flex: 1;
    margin-left: rem(20px);

    &:first-child {
        margin-left: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-left: rem(20px);
    display: block;
    
    &:first-child {
        margin-left: 0;
    }

    &-title{
        font-family: "Alegreya Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 30.05px;
        color: $dark-green;
    }

    &--order {
        color: $dark-green;
        margin-bottom: rem(17px);
    }
}

.form__input {
    background: $white;
    border: rem(1px) solid $mint;
    padding: rem(8px) rem(21px);
    width: 100%;
    margin-bottom: rem(17px);

    &--textarea {
        resize: none;
        height: rem(110px);
    }
}

.clear {
    color: $dark-green;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30.05px;
}