.hamburger {
    width: rem(24px);
    height: rem(4px);
    background: $white;
    border-radius: rem(5px);
    position: relative;
    margin-top: rem(9px);
    margin-bottom: rem(9px);
    display: none;

    @include tablets {
        display: flex;
    }
}

.hamburger:after, .hamburger:before {
    content: "";
    display: block;
    width: rem(24px);
    height: rem(4px);
    border-radius: rem(5px);
    background: $white;
    position: absolute;
}

.hamburger:after {
    top: 100%;
    margin-top: rem(5px);
}

.hamburger:before {
    bottom: 100%;
    margin-bottom: rem(5px);
}