.header {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    
}

.header__buttons {
    display: flex;
    align-items: center;
}



.contacts__phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: $white;

    &:before{
        content: "";
        display: block;
        background: url('../img/icons/phone_white.png') center center/cover no-repeat;
        height: 13px;
        width: 13px;
        margin-right: 15px;
    }
}

.nav__link {
    margin-right: 15px;
}