.header {
    padding-top: rem(25px);
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header__buttons {
    display: flex;
    align-items: center;
}



.contacts__phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: $white;

    &:before{
        content: "";
        display: block;
        background: url('../img/icons/phone_white.png') center center/cover no-repeat;
        height: rem(13px);
        width: rem(13px);
        margin-right: rem(15px);
    }
}

.nav__link {
    margin-right: rem(15px);
}