.order {
    background: url('../img/order/orderbg.jpg') center center / cover no-repeat;
}

.order__title {
    font-family: "Alegreya Sans";
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-green;
    
}